div.topbar {
    background-color: #283904 !important;
}

.swagger-ui img {
    content: url('../img/uclogo.png');
    width: 140px; /* width of your logo */
    height: 40px; /* height of your logo */
}